ul {
	width: 100%;
	background-color: lightgray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 10vh;
}

li {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
}

li button {
	width: 11rem;
	max-width: 24vw;
	height: 1.3rem;
}