ul {
	width: 100%;
	background-color: lightgray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 10vh;
}

li {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: .25rem;
}

li * {
	margin: .25rem;
	width: 18vw;
	height: 1.2rem;
}

li button, li span {
	height: 1.4rem;
}

span {
	border: 1px solid black;
}

.flags {
	position: absolute;
	top: 4vh;
	left: -1vw;
}